body{
	background: #080808;
}
p,.centralizar{
	text-align: center;
}
p{ 
	color: white;
}
em strong{
	color: #FF0000;
}
h1,h2{
	color: #0000FF;
}
#banner {
    width: 100%;
}
.items{
		font-style: italic;
		list-style:  none;
}
#beneficios{
		width: 50%;
}
 ul{
	  display: inline-block;
		width: 20%;
		margin-right: 15%;
		vertical-align: top;
		color: white;
 }

